.sec_2{
    width: 1300px;
    background-color: #222831;
    height: 980px;
}
.sec_2 h1{
    padding: 50px;
    font-size: 50px;
    color: #DFD0B8;
}
.sec_2 p{
    color: #DFD0B8;
    margin-bottom: 40px;
    font-size: 30px;
}
.sec_2 .foodDetail{
    position: relative;
}
.sec_2 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.btn1{
    background-color: #DFD0B8;
    color: #222831;
}
.btn1:hover{
    transition: 0.3s;
    background-color: transparent;
    color: #DFD0B8;
    border: 1px solid #DFD0B8;
}
.wishBtn{
    position: absolute;
    left: 500px;
    bottom: 50px;
    border-radius: 10px;
}