*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sec_1{
    width: 1300px;
    background-color: #222831;
    overflow: hidden;
    /* 주문 상품을 너무 많이 담았을 때 스크롤바 생성 css */
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* 스크롤 관련 속성 */
    max-height: 980px; /* 원하는 높이 제한 */
    /* overflow-y: auto; */
    /* 세로 스크롤 자동 생성 */
    padding-right: 5px; /* 스크롤 때문에 글자 잘리지 않도록 여백 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    overflow-x: hidden; /* 가로 스크롤 차단 */
    padding-right: 8px; /* 스크롤과 텍스트 겹치지 않도록 여백 */
    box-sizing: border-box;
}
/* 스크롤바 스타일 (선택) */
.sec_1::-webkit-scrollbar {
  width: 0;
}
.sec_1::-webkit-scrollbar-thumb {
  background: #152b17;
  border-radius: 0;
}

.sec_1 h1{
    font-size: 30px;
    padding: 100px 0 10px 0;
    color: #DFD0B8;
}
.sec_1 ul{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 20px 0;
    margin-left: 70px;
}
.foodEach{
    margin: 80px 0 0 10px;
    padding: 10px;
    border-radius: 10px;
}
.foodEach:hover{
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.9);
    font-size: 16px;
}
.sec_1 ul li .foodEach img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.sec_1 ul li .foodEach p{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #DFD0B8;
}
.sec_1 ul li .foodEach span{
    margin-left: 20px;
    color: #DFD0B8;
}
.priceBtn{
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: #DFD0B8;
    color: #222831;
}
.btnAll{
    width: 1300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #222831;
}
.btn{
    background-color: #DFD0B8;
    color: #222831;
}
