.signup_wrap{
    width: 1300px;
    height: 980px;
    background-color: #222831;
}
.signup_wrap h2{
    padding: 80px 0 30px 0;
    color: #DFD0B8;
    text-align: left;
    margin-left: 149px;
}
.signup_form ul li{
    width: 1000px;
    margin-bottom: 10px;
    color: #DFD0B8;
    margin: 20px auto;
    text-align: left;
}
.signup_form ul li label{
    display: inline-block;
    width: 300px;
}
.gen{
    margin-right: 260px;
}
.birth{
    width: 200px;
    padding: 10px 10px 10px 70px;
    border: none;
    outline: none;
    background-color: #DFD0B8;
}
.birth::placeholder{
    color: #222831;    
}
.signup_form ul li .laberRadio{
    width: 100px;
}
.signup_form ul li .input1{
    width: 400px;
    padding: 10px;
    background-color: #DFD0B8;
    border: none;
    outline: none;
    margin-right: 30px;
    vertical-align: middle;
}
.signup_form ul li input[type='checkbox'],
.signup_form ul li input[type='radio']{
    margin-right: 10px;
}
.phoneBtn{
    background-color: #DFD0B8;
    color: #222831;
}
.signupBtn{
    background-color: #DFD0B8;
    color: #222831;
}