.wishList{
    width: 1300px;
    height: 980px;
    background-color: #222831;
    overflow: hidden;
    /* 주문 상품을 너무 많이 담았을 때 스크롤바 생성 css */
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* 스크롤 관련 속성 */
    max-height: 980px; /* 원하는 높이 제한 */
    /* overflow-y: auto; */
    /* 세로 스크롤 자동 생성 */
    padding-right: 5px; /* 스크롤 때문에 글자 잘리지 않도록 여백 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    overflow-x: hidden; /* 가로 스크롤 차단 */
    padding-right: 8px; /* 스크롤과 텍스트 겹치지 않도록 여백 */
    box-sizing: border-box;
}
/* 스크롤바 스타일 (선택) */
.wishList::-webkit-scrollbar {
  width: 0;
}
.wishList::-webkit-scrollbar-thumb {
  background: #152b17;
  border-radius: 0;
}

.wishList h2{
    padding: 95px 0 10px 0;
    color: #DFD0B8;
    font-size: 30px;
}
.wishList .allDel{
    width: 200px;
    margin: 0 auto;
    background-color: #DFD0B8;
    color: #222831;
    outline: none;
}
.wishList .allDel:hover{
    background-color: #ecb865;
    border: 1px solid #ecb865;
    color: black;
}
.wishList .list_p{
    width: 1300px;
    height: 980px;
    font-size: 30px;
    margin: 100px auto;
}
.wishList ul{
    display: flex;
    width: 1300px;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 80px;
}
.wishList img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.wishList p{
    color: #DFD0B8;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.wishList ul li .foodEach .wishBtn{
    position: absolute;
    left: 10px;
    bottom: 83px;
    background-color: tomato;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px;
}